<header class="site-header" role="banner">
  <nav role="nav">
    <div id="main-nav">
        <h1 id="branding">
            <a href="/">{{ site.name }}</a>
        </h1>
        <ul id="right-nav">
            <li>
                <a href="/https/domains/">HTTPS</a>
            </li>
        </ul>
        <a href="#" id="menu-btn">MENU</a>
    </div>
  </nav>

  <nav id="menu-content" role="nav">
    <ul>
      <li>
        <a tabindex="-1" href="/">Home</a>
      </li>
      <li>
          <a tabindex="-1" href="/https/domains/">HTTPS</a>
      </li>
    </ul>
  </nav>

  <div class="overlay"></div>
</header>

