{% extends "layout.html" %}

{% block page_id %}https{% endblock %}
{% block title %}Veilig HTTP (HTTPS) - Pulse{% endblock %}
{% block description %}De stand van zaken rondom HTTPS in de zorg{% endblock %}

{% block content %}

{% include 'includes/https-zorg/header.html' %}

<section id="main-content" class="white-bkg">

  <nav class="tab-menu" role="tablist">
    <a href="/https-zorg/domains/" class="tab zorg" role="tab" aria-controls="tab-panel" aria-selected="false">Per Domein</a>
    <span class="tab zorg" role="tab" aria-controls="tab-panel" aria-selected="true">Info</span>
  </nav>

  <div id="tab-panel" class="wrapper" role="tabpanel" aria-hidden="false">

    <div class="guide">

      <h3>Deze website is gemaakt door de <a href="https://openstate.eu" target="_blank">Open State Foundation</a> om burgers en organisaties inzicht te geven in de stand van zaken rondom HTTPS bij zorgdomeinen.</h3>

      Het gebruik van een door HTTPS beveiligde websiteverbinding is om verschillende redenen erg belangrijk:
      <ul class="ul-normal">
        <li>Alle gegevens die via een onbeveiligde verbinding (HTTP) worden verstuurd zijn te onderscheppen door anderen. Vaak vraag je persoonlijke informatie op bij zorginstellingen en die moeten dus goed beschermd worden.</li>
        <li>Ook verstuur je gevoelige gegevens naar zorgwebsites, door bijvoorbeeld een formulier in te vullen, documenten te verzenden of bepaalde zoektermen te gebruiken. Hierbij geldt ook dat een HTTP verbinding dit niet beveiligt.</li>
        <li>Gegevens die via een HTTP verbinding worden verstuurd kunnen onderweg veranderd worden door anderen. Enkel bij een HTTPS verbinding weet je zeker dat de ontvangen of verstuurde gegevens niet aangepast zijn.</li>
        <li>Websites die HTTPS gebruiken kunnen gebruik maken van het moderne HTTP/2 protocol dat zorgt voor een snellere verbinding.</li>
      </ul>


      De resultaten van Pulse komen geautomatiseerd tot stand en het kan zijn dat er fouten tussen zitten. We bieden geen individuele hulp bij het oplossen van HTTPS problemen. Desalniettemin staan hieronder handige tips en informatie om een betere score op Pulse te bewerkstelligen voor je domein.</h3>
      <br>
      <br>

      <article>

        <h4>Welke domeinen worden er geanalyseerd?</h4>

        <p>
          Pulse analyseert de ondersteuning, het afdwingen en de kwaliteit van HTTPS van publiek toegankelijke Nederlandse zorgdomeinen. Er wordt niet automatisch gezocht naar subdomeinen en aangezien HTTPS per subdomein anders geïmplementeerd kan worden kunnen de resultaten van een geanalyseerd domein niet doorgetrokken worden naar (andere) subdomeinen. Domeinen die enkel redirecten naar andere websites worden ook geanalyseerd, maar het domein waar naar geredirect wordt analyseren we niet.
        </p>

      </article>

      <article>

        <h4>HTTPS implementeren</h4>

        <p>
          Het proces om sterke HTTPS te ondersteunen en af te dwingen voor een web service kan afhankelijk van de technologie, grootte en ouderdom van de service enorm verschillen.
        </p>

    Deze data laat zien of zorgdomeinen ondersteuning bieden voor het HTTPS protocol (<code>https://</code>) en hoe sterk de implementatie daarvan is. HTTPS zorgt voor een veilige internetverbinding tussen websites en haar bezoekers. Voor websites in de publieke sector wordt <a href="https://www.forumstandaardisatie.nl/standaard/https-en-hsts" target="_blank">HTTPS aanbevolen</a> en het onderliggende protocol <a href="https://www.forumstandaardisatie.nl/standaard/tls" target="_blank">TLS is verplicht</a>.
        <p>
          Zorginstellingen die werken aan het implementeren van HTTPS kunnen voor meer informatie terecht op onder andere de pagina's van Forum Standaardisatie over <a href="https://www.forumstandaardisatie.nl/standaard/https-en-hsts" target="_blank">HTTPS</a> en <a href="https://www.forumstandaardisatie.nl/standaard/tls" target="_blank">TLS</a>. Ook het NCSC (Nationaal Cyber Security Centrum) biedt informatie over <a href="https://www.ncsc.nl/documenten/factsheets/2019/juni/01/factsheet-https-kan-een-stuk-veiliger" target="_blank">HTTPS</a> en <a href="https://www.ncsc.nl/documenten/publicaties/2019/mei/01/ict-beveiligingsrichtlijnen-voor-transport-layer-security-tls" target="_blank">TLS</a>.
        </p>

      </article>

      <article>

        <h4>HTTPS analyse</h4>

        <p>
          Pulse analyseert het gedrag van vier "endpoints" van elk domein: <code>http://</code>, <code>http://www</code>, <code>https://</code>, en <code>https://www</code>. Data van deze endpoints wordt gebruikt om het totale gedrag van het domein te bepalen.
        </p>

        <p>
          Voor deze analyse wordt gebruikt gemaakt van <a href="https://github.com/dhs-ncats/pshtt" target="_blank">open source</a> <a href="https://github.com/18F/domain-scan" target="_blank">tools</a>.
        </p>

      </article>

      <article>

        <h4>Historische resultaten</h4>

        <p>
        De huidige scanresultaten kunnen makkelijk gedownload worden door bovenaan de 'Per Domein'-tabel op 'Download CSV' te klikken. De resultaten van alle voorgaande scans zijn te vinden op ons dataportaal: <a href="https://data.openstate.eu/dataset/pulse-scan-van-https-in-de-publieke-sector" target="_blank">https://data.openstate.eu</a>.
        </p>

      </article>

      <article>

        <h4>Velden</h4>

        <ul>
          <li><strong>Ondersteunt HTTPS</strong></li>
          <li><strong>Waarden:</strong> Nee, Ja</li>
          <li>Of een domein met HTTPS gebruikt kan worden op ofwel de directe domeinnaam of het <code>www</code> subdomein. Domeinen die van HTTPS terug redirecten naar HTTP worden als een "Nee" beschouwd.</li>
        </ul>

        <ul>
          <li><strong>Dwingt HTTPS Af</strong></li>
          <li><strong>Waarden:</strong> Nee, Ja</li>
          <li>Of een domein standaard HTTPS gebruikt. Dit kan bewerkstelligd worden door ofwel HTTP endpoints te redirecten naar HTTPS of door enkel bereikbaar te zijn via HTTPS.</li>
        </ul>

        <ul>
          <li><strong>Strict Transport Security (HSTS)</strong></li>
          <li><strong>Waarden:</strong> Nee, Ja</li>
          <li>Of een domein <a href="https://nl.wikipedia.org/wiki/HTTP_Strict_Transport_Security" target="_blank">HTTP Strict Transport Security</a> heeft geïmplementeerd, wat ervoor zorgt dat <a href="http://caniuse.com/#feat=stricttransportsecurity" target="_blank">browsers die het ondersteunen</a> enkel met dat domein communiceert via HTTPS (zelfs als de gebruiker op een HTTP link klikt).</li>
          <li>"Ja" betekent dat een geldige <code>Strict-Transport-Security</code> header met een <code>max-age</code> waarde (in seconden) van ten minste <strong>1 jaar</strong> (31536000) aanwezig is op de standaard endpoint van het domein.</li>
        </ul>

        <ul>
          <li><strong>Preloaded (aanbevolen)</strong></li>
          <li><strong>Waarden:</strong> Gereed, Ja</li>
          <li>"Gereed" betekent dat het domein een sterke HSTS header heeft geïmplementeerd op haar <strong>hoofddomein</strong> waarvan het beleid alle subdomeinen omvat en toestemming heeft gegeven aan <a href="https://hstspreload.appspot.com">preloading door alle grote browsers</a> als HTTPS-only.</li>
          <li>"Ja" betekent dat het domein daadwerkelijk publiekelijke genoemd wordt in de <a href="https://chromium.googlesource.com/chromium/src/+/master/net/http/transport_security_state_static.json" target="_blank">Chrome preload lijst</a> en de <code>include_subdomains</code> optie in die lijst heeft ingeschakeld. Het bereiken van deze stap betekent in feite dat de namespace van een domein permanent en volledig gebruikt maakt van HTTPS.</li>
        </ul>

      </article>

    </div>

  </div>

</section>

{% endblock %}
