{% extends "layout.html" %}

{% block page_id %}about{% endblock %}
{% block title %}About Pulse{% endblock %}
{% block description %}Frequently asked questions and information on what it Pulse measures and where to send feedback.{% endblock %}

{% block content %}

<header>
  <h2>Open Data</h2>

  <p>
    Pulse scans federal .gov domains to measure support for web best practices, and produces a lot of data in the process. You can download that data below for reuse.
  </p>

  <p>
    It's not required, but if you use this data to do something interesting, we'd love it if you <a href="https://github.com/18f/pulse/issues">opened a ticket</a> or <a href="mailto:pulse@cio.gov">dropped us a line</a> to tell us about it!
  </p>
</header>

<section id="main-content" class="white-bkg">

<div class="wrapper">
  <header>
    Placeholder.
  </header>
</div>

</section>

{% endblock %}
