@charset "UTF-8";

// Imports
/////////////////////////////////////////

@import 'https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro';
@import "lib/bourbon/bourbon";
@import "base/grid-settings";
@import "lib/neat/neat";
@import "base/base";

// Breakpoints
/////////////////////////////////////////

$small:       new-breakpoint(max-width 480px, 12);
$medium:      new-breakpoint(max-width 767px, 12);
$large:       new-breakpoint(max-width 1024px, 12);
$xlarge:      new-breakpoint(max-width 1200px, 12);

// Colors
/////////////////////////////////////////

$dark-blue:       darken(#0066CC, 20%);
$medium-blue:     darken(#0066CC, 5%);
$light-blue:      #0066CC;
$green:          #2da52d;
$red:      #ca1b1b;

// Custom font sizing
/////////////////////////////////////////

h1 { font-size:   2.25em;   }
h2 { font-size:   1.5em;    }
h3 { font-size:   1.25em;   }
p  { font-size:   1.0em;    }

// Generic
/////////////////////////////////////////

body {
  background-color: $light-gray;
}

a {
  color: black;
  font-weight: 900;

  &:active {
    color: black;
  }
  &:hover {
    color: black;
    text-decoration: underline;
  }
  &:focus {
    color: black;
    outline: dotted 1px;
    text-decoration: underline;
  }
  &:visited {
    color: black;
  }
}

nav li a {
  font-size: 18px;
  font-weight: normal !important;
}

.ul-normal {
  list-style-type: disc;
  margin: 14px 0;
  padding-left: 40px;
}

.list-inline li {
  display: inline;
}

header {
  background-color: white;
}

footer {
  border-top: 1px solid $light-gray;
  color: black;
  padding: 30px 20px;
  text-align: center;
}

.footer-text {
  width: 30%;
  float: left; }

.footer-contact {
  float: left;
  margin-left: 8%;
  padding: 20px 0;
  color: rgb(128, 128, 128) !important;
  width: 30%; }

.footer-contact li {
  margin: 5px; }

.footer-item {
  text-align: left;
  float: right; }

.footer-item h2 {
  margin-bottom: 10px; }

.footer-item a {
  width: 200px;
  font-weight: 400;
  display: inline-block; }

.footer-item img {
  float: left; }

.osf-logo {
  padding-right: 15px;
  width: 115px; }

@media screen and (max-width: 767px) {
  .footer-text, .footer-contact, .footer-item {
    margin-left: 10%;
    width: 80%;
    float: none; }

  .footer-item {
    width: 30%;
    margin: 0 auto; }
}

.button {
  border: 1px solid black;
  color: white;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: white;
    color: $medium-blue;
    text-decoration: none;
  }
}

.wrapper {
  @include outer-container;
}

a#skipnav {
  background: transparent;
  color: $medium-blue;
  left: 0px;
  padding: 10px 15px;
  position: absolute;
  top: -70px;
  width: 170px;
  z-index: 100;

  @include transition(top 1s ease-out, background 1s linear);

  &:focus {
    background: white;
    left: 0px;
    outline: 0;
    position: absolute;
    top: 0px;

    @include transition(top .1s ease-in, background .5s linear);
  }
}


#https,
#domain,
#agency,
#analytics,
#accessibility,
#about {

  #content {

    .big-header {
      margin-top: 54px;
      font-family: $font-family-monospace;
      background-color: rgb(242, 242, 242);
      padding-bottom: 40px;
    }

    header {
      @include outer-container;
      background-color: $light-gray;
      color: $dark-gray;
      padding: 30px 0;

      p {
        margin-top: 12px;
      }

      a {
        font-weight: bold;
      }

      .donut {
        @include span-columns(3);
        @include media($medium) {
          display: none;
        }

        .total-value {
          font-size: 3em;
        }

        .total-desc {
          font-size: 0.8em;
        }
      }

      &.chart {
        padding: 0;

        .description {
          @include span-columns(8);
          padding-top: 30px;
          @include media($medium) {
            @include span-columns(12);
            padding: 40px 20px 20px 20px;
          }
        }
      }
    }

    #main-content {

      .tab-menu {
        width: 100%;

        .tab {
          width: 33.33%;
          margin: 0;
          float: left;
          text-align: center;
          padding: 30px 0;
          font-size: 1.5em;
        }

        // 431px because 'Per overheid' wraps at that moment and thus we
        // need to increase the height to 123px XD
        @media screen and (max-width: 431px) {
          .tab {
            height: 123px;
          }
        }

        a.tab {
          background-color: $light-gray;
          color: black;

          &:hover,
          &:focus {
            background-color: darken($light-gray, 10%);
            color: black;
          }
        }
      }

      &.white-bkg {
        background-color: white;

        a {
          color: $light-blue;
          font-weight: normal;

          &:hover,
          &:focus {
            color: $dark-blue;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.https_chart,
.dap_chart {
  cursor: pointer;
  padding-top: 15px;
}

.sr-only {
  left: -10000px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

// Includes for:
// - Pulse site header and navigation
// - Landing page
// - By Domain
// - By Agency
// - Guidance
// - Accessibility
// - DAP
// - datatables
// - About
// - 404
/////////////////////////////////////////

@import "includes/header.scss";
@import "pages/home.scss";
@import "pages/domain.scss";
@import "pages/agency.scss";
@import "pages/guidance.scss";
@import "includes/accessibility.scss";
@import "includes/analytics.scss";
@import "includes/datatables.scss";
@import "pages/about.scss";
@import "pages/notfound.scss";

